[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-flatpages = "*"
frozen-flask = "*"
pygments = "*"
markupsafe = "*"

[dev-packages]
black = "*"
pytest = "*"
playwright = "*"
pytest-playwright = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
