<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block page_title %}Justin J. Smith's Site{% endblock page_title %}
    </title>
    <link rel="stylesheet" href="/static/simple-grid.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <!-- End Favicon -->
    {% block page_description %}{% endblock page_description %}
    {% block css %}{% endblock css %}
  </head>
  <body>
    {% block body %}
    <header>
      <nav></nav>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-2 hidden-sm"></div>
          <div class="col-8">
            <article>
              {% block content %}
              {% endblock content %}
            </article>
          </div>
          <div class="col-2 hidden-sm"></div>
        </div>
      </div>
    </main>
    {% endblock body %}
  </body>
</html>
