{% extends "_layout.html" %}

{% block css %}
{% if page.meta.get('code-examples') %}
    <link rel="stylesheet" href="{{ url_for('pygments_css')  }}">
{% endif %}
{% endblock css %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block page_description %}
<meta name="description" content="{{ page.meta.get('page-description') }}" />
{% endblock page_description %}

{% block content %}
<h1>{{ page.meta.get('title') }}</h1>
<small>First published: {{ page.meta.get('publish-datetime') }}</small>
{% if page.meta.get('updated-datetime') %}
<br />
<small>Last updated: {{ page.meta.get('updated-datetime') }}</small>
{% endif %}
{{ page }}
<p class="PageNavigation" role="navigation">
  {% if next_page %}
  <b>Next: </b>
    <a href="{{ url_for('.entries', path=next_page.path) }}">
        {{ next_page.meta.get('title') }}
    </a>
  {% endif %}
  {% if previous_page %}
  <br/>
  <b>Previous: </b>
    <a href="{{ url_for('.entries', path=previous_page.path) }}">
      {{ previous_page.meta.get('title') }}
    </a>
  {% endif %}
</p>
<br />
<p><a href="{{ url_for('index') }}">Home</a></p>
{% endblock content %}
